<section id="home" class="banner_wrapper">
  <div class="container">
      <div class="row">
          <div class="col-lg-7 order-lg-1 order-2 banner-content">
              <h2 class="text-uppercase position-relative">Hello</h2>
              <h1 class="text-uppercase">I am Aniruddha Joshi</h1>
              <h5 class="text-uppercase">Junior Frontend Developer</h5>
              <div class="mt-5">
                  <a class="main-btn primary-btn" href="#">Hire Me</a>
                  <a class="main-btn secondary-btn ms-4" (click)="download()">Get CV</a>
              </div>
          </div>
          <div class="col-lg-5 order-lg-2 order-1">
              <div class="top-right-img">
                  <img decoding="async" src="../../assets/images/home-right.webp" class="img-fluid">
              </div>
          </div>
      </div>
  </div>
</section>
