<section id="services" class="services_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center mb-5">
        <div>
          <img decoding="async" width="300px" src="../../assets/images/services-img/services-removebg-preview.png">
        </div>
        <h2>SERVICE OFFERS</h2>
        <p>Elevate your digital presence with my comprehensive range of full-stack development services. From crafting intuitive user interfaces to building robust backend solutions, I specialize in delivering tailored solutions that meet your unique needs. Explore the diverse services I offer below:</p>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card rounded-0 border-0 text-center py-5 px-3">
          <div>
            <img decoding="async" src="../../assets/images/services-img/mouse.webp">
          </div>
          <h5 class="text-uppercase mt-4 mb-3">Web Development</h5>
          <p>Building responsive and user-friendly user interfaces using HTML, CSS, and JavaScript frameworks </p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card rounded-0 border-0 text-center py-5 px-3">
          <div>
            <img decoding="async" src="../../assets/images/services-img/ui-ux.webp">
          </div>
          <h5 class="text-uppercase mt-4 mb-3">UI/UX DESIGN</h5>
          <p>Specialize in crafting responsive and mobile-friendly web applications that adapt effortlessly to different
            screen sizes</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card rounded-0 border-0 text-center py-5 px-3">
          <div>
            <img decoding="async" width="100px" src="https://image.opencart.com/original/60e85b27c7220.jpg">
          </div>
          <h5 class="text-uppercase mt-4 mb-3">API Development</h5>
          <p>Offer services related to designing, building, and maintaining RESTful APIs or GraphQL endpoints. Highlight
            your experience with API documentation and versioning</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card rounded-0 border-0 text-center py-5 px-3">
          <div>
            <img decoding="async" src="../../assets/images/services-img/seo.webp">
          </div>
          <h5 class="text-uppercase mt-4 mb-3">Performance Optimization</h5>
          <p>Highlight your ability to optimize website performance, including minimizing page load times, implementing
            caching strategies, and improving overall user experience</p>
        </div>
      </div>
    </div>
  </div>
</section>
