<div (click)="goPublic()">&lt;go back</div>
<!-- login.component.html -->
<div *ngIf="showLogin">
  <!-- <h2>Login</h2>
  <form [formGroup]="loginForm">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>username:</mat-label>
        <input matInput type="username" formControlName="username" />
        <mat-error *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">
          username is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Password:</mat-label>
        <input matInput type="{{ hide ? 'password' : 'text' }}" formControlName="password" />
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
          Password is required.
        </mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="button" (click)="onSubmit()" [disabled]="loginForm.invalid">Login</button>
  </form> -->
  <div class="loginbody">
  <div class="container">
    <div class="row px-3">
      <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
        <div class="img-left d-none d-md-flex"></div>

        <div class="card-body">
          <h4 class="title text-center mt-4">
            Login into account
          </h4>
          <form class="form-box px-3" [formGroup]="loginForm">
            <div class="form-input">
              <span><i class="fa fa-envelope-o"></i></span>
              <input type="text" formControlName="username" placeholder="Email Address" tabindex="10" required>
            </div>
            <div class="form-input">
              <span><i class="fa fa-key"></i></span>
              <input type="password" formControlName="password" name="" placeholder="Password" required>
            </div>

            <div class="mb-3">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="cb1" name="">
                <label class="custom-control-label" for="cb1">Remember me</label>
              </div>
            </div>

            <div class="mb-3">
              <button type="button" (click)="onSubmit()" class="btn btn-block text-uppercase">
                Login
              </button>
            </div>






          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="!showLogin"></mat-progress-bar>
