<section id="about" class="about_wrapper">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <img decoding="async" src="assets/images/about-us.webp" class="img-fluid" alt="About Us">
      </div>
      <div class="col-lg-5 mb-4 mb-lg-0">
        <h3>let’s <br>Introduce about <br>myself</h3>
        <p>Mastering AngularJS for frontend development and complementing it with a solid understanding of Node.js for
          backend operations places you at the forefront of modern full-stack development. By seamlessly integrating
          AngularJS's capabilities in crafting dynamic and interactive user interfaces with Node.js's power for
          executing server-side JavaScript, you pave the way for creating robust, end-to-end JavaScript-based
          applications.</p>
        <p>This synergy enables you to architect scalable web solutions, harnessing the event-driven, non-blocking I/O
          model of Node.js and the component-based architecture of AngularJS. Delving deeper into Node.js brings forth
          opportunities to work with frameworks like Express.js, ensuring efficient API development and database
          interaction. Strengthening your skills in asynchronous programming, authentication mechanisms, security
          practices, and testing methodologies in the Node.js ecosystem empowers you to craft secure, performant, and
          feature-rich applications. As a result, this expertise not only expands your toolkit but also positions you as
          a versatile developer capable of building sophisticated, integrated, and high-performing web applications from
          frontend to backend.</p>
        <a href="#" class="main-btn primary-btn mt-4">Download CV</a>

      </div>
    </div>
    <div class="row justify-content-center pt-5">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="row">
          <div class="col-md-4 col-sm-6 mb-4">
            <div class="single-logo-item">
              <img decoding="async" width="100px" src="assets/images/logos/angular.svg" class="img-fluid">
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4">
            <div class="single-logo-item">
              <img decoding="async" width="100px" src="https://www.svgrepo.com/show/376344/python.svg" class="img-fluid">
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4">
            <div class="single-logo-item">
              <img decoding="async" width="100px" src="assets/images/logos/html.png" class="img-fluid">
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4">
            <div class="single-logo-item">
              <img decoding="async" width="100px" src="assets/images/logos/css.webp" class="img-fluid">
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4">
            <div class="single-logo-item">
              <img decoding="async" width="100px" src="assets/images/logos/js logo.png" class="img-fluid">
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4">
            <div class="single-logo-item">
              <img decoding="async" width="100px" src="assets/images/logos/ionic-logo.png" class="img-fluid">
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4">
            <div class="single-logo-item">
              <img decoding="async" width="100px" src="assets/images/logos/react.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <div class="offset-lg-2 col-lg-4 col-md-10">
        <div class="client-info">
          <div class="d-flex">
            <span class="large">2</span>
            <span class="smll">Years <br>Experience <br>Working</span>
          </div>
          <div class="call-now d-flex py-4">
            <div>
              <span class="fa fa-phone-alt"></span>
            </div>
            <div class="ms-4">
              <p>call us now</p>
              <h5>(+91) 9920959596</h5>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
